@{
    ViewData["Title"] = "Home Page";
}

    <!-- ======= Hero Section ======= -->

    <section id="hero" class="d-flex ">
        <div class="container d-flex flex-column px-0 mx-3 mt-5 " data-aos="zoom-in" data-aos-delay="100">
            <h1 class="text-info ">Reservation Student</h1>
            <a class="btn-about w-25 text-center text-dark bg-warning " asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </section>

    <!-- End Hero -->
    